<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>919637174646-ra06sih5e79ljdsqpdm73ingsirgshq9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.919637174646-ra06sih5e79ljdsqpdm73ingsirgshq9</string>
	<key>API_KEY</key>
	<string>AIzaSyAONVkezu0NYYw1-B5-Zfv9PZnVlH5adIw</string>
	<key>GCM_SENDER_ID</key>
	<string>919637174646</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Lukas.polCal-v2</string>
	<key>PROJECT_ID</key>
	<string>polcal-9056e</string>
	<key>STORAGE_BUCKET</key>
	<string>polcal-9056e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:919637174646:ios:57f81360833126e5903257</string>
</dict>
</plist>